@inherits LayoutComponentBase
<div>
    <main>
        <article>
            <h1 class="text-5xl text-green-300 font-semibold">Universal Coordinator</h1>
            @Body
        </article>
    </main>
    <footer class="border-t border-0 border-green-200 border-opacity-25 mt-4 p-2 text-right text-base font-light">
	    built by <a href="https://discord.com/users/115195745782464512">@@deca<span class="font-thin">#9999</span></a> with Blazor, <a href="https://github.com/decaprime/tpt2-universal-coordinator">open source</a>, inspired by d0sboots
    </footer>
</div>
