@inherits LayoutComponentBase
<div>
    <main>
        <article>
           <a href="/"><h1 class="text-5xl text-green-300 font-semibold border-0">Universal Coordinator</h1></a>
            @Body
        </article>
    </main>
    <footer class="border-t border-0 border-green-200 border-opacity-25 mt-4 p-2 text-right text-base font-light">
	    built by <a href="discord://discord.com/users/114877197512081410">@@deca<span class="font-thin opacity-50">#9999</span></a> with Blazor, <a href="https://github.com/decaprime/tpt2-universal-coordinator">open source</a>, inspired by d0sboots
    </footer>
</div>
  